.reviews {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 4em 2em;
  background-size: cover;        /* fill full */
  background-position: center;   /* căn giữa */
  background-repeat: no-repeat;  /* không lặp */
  color: var(--bg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  overflow: hidden;
}

.review-item {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  position: relative;
  z-index: 2; /* giữ text nổi trên ảnh */
  color: white; /* đảm bảo đọc được trên nền ảnh */
}

#quote-icon {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
  font-size: 2rem;
}

.reviews-list {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  display: flex;
  gap: 0.5em;
  z-index: 3;
}

.review-thumbnail {
  aspect-ratio: 5/3;
  min-height: 50px;
  border: 1px dashed var(--bg200);
  border-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

.review-thumbnail.active {
  border: 1px dashed var(--bg);
}

h4#review-copy,
h4#review-author {
  font-kerning: none;
  overflow: hidden;
  line-height: 1.2 !important;
}

h4#review-copy .line,
h4#review-author .line {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

h4#review-copy .line span,
h4#review-author .line span {
  position: relative;
  display: inline-block;
  will-change: transform;
}
